# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi
uvicorn
mlflow
dill
python-multipart
cloudpickle==3.1.1
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2